---

---

<footer
  class="footer footer-center p-10 bg-base-200 text-base-content rounded"
  
>
  <div class="grid grid-flow-col gap-4">
    <a class="link link-hover">À propos</a>
    <a class="link link-hover">Sources</a>
    <a class="link link-hover">Contact</a>
  </div>
  
  <div>
    
  </div>
  <div>
    <p class="text-sm">
      © 2025 - Étude réalisée dans le cadre de l'Open Data University
    </p>
    <p class="text-xs text-base-content/60">
      Bryan Thierry & Maéna Rabusseau - Association Latitudes
    </p>
  </div>
</footer>
